<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeta1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,291}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1181,246},{273,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planeta1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{297,299}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{607,792},{297,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planeta1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{275,279}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{276,487},{275,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planeta1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,297}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{908,808},{301,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1474,246},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,297}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1211,812},{297,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1,487},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1510,812},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,239}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,243}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1213,1},{285,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,239}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{304,1},{301,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,243}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1500,1},{285,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,239}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{607,1},{301,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,243}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1,242},{285,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,239}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{910,1},{301,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,243}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{288,242},{285,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,263}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{575,242},{301,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{301,293}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1,764},{301,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,281}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{557,507},{301,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{299,285}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1163,521},{299,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{301,265}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{878,242},{301,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,289}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1464,521},{301,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,293}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{304,790},{301,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{301,281}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{860,509},{301,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>planetasspreadsheet.png</string>
            <key>size</key>
            <string>{1812,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:473b1ac099a08127a3764693abe5fa60:e4a51aa135144f4b2bee023632a175c3:7438b3a94cd7198d74be6a3cba0ab20a$</string>
            <key>textureFileName</key>
            <string>planetasspreadsheet.png</string>
        </dict>
    </dict>
</plist>
