<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeta1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,361}</string>
                <key>spriteSourceSize</key>
                <string>{333,361}</string>
                <key>textureRect</key>
                <string>{{748,376},{333,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,378}</string>
                <key>spriteSourceSize</key>
                <string>{369,378}</string>
                <key>textureRect</key>
                <string>{{377,395},{369,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,342}</string>
                <key>spriteSourceSize</key>
                <string>{333,342}</string>
                <key>textureRect</key>
                <string>{{763,1},{333,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,374}</string>
                <key>spriteSourceSize</key>
                <string>{389,374}</string>
                <key>textureRect</key>
                <string>{{1,395},{389,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planeta1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,334}</string>
                <key>spriteSourceSize</key>
                <string>{333,334}</string>
                <key>textureRect</key>
                <string>{{1083,345},{333,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,373}</string>
                <key>spriteSourceSize</key>
                <string>{370,373}</string>
                <key>textureRect</key>
                <string>{{391,1},{370,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,330}</string>
                <key>spriteSourceSize</key>
                <string>{333,330}</string>
                <key>textureRect</key>
                <string>{{1098,1},{333,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planeta1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,392}</string>
                <key>spriteSourceSize</key>
                <string>{388,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>planeta1.png</string>
            <key>size</key>
            <string>{1429,785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed288ad21ebd9467cf0be4c3df76d15:1332cec22430152d4d34ce4758808939:5f28e4be7b9c15a352da32712c6be432$</string>
            <key>textureFileName</key>
            <string>planeta1.png</string>
        </dict>
    </dict>
</plist>
