<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeta1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{0,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{301,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{602,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{903,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1204,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1505,0},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{0,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{301,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{602,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{903,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1204,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1505,301},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{0,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{301,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{602,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{903,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1204,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1505,602},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{0,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{301,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{602,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{903,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1204,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeta3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1505,903},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteOK.png</string>
            <key>size</key>
            <string>{1806,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:526c55855ddb829fe16a07c8801f1044:e4a51aa135144f4b2bee023632a175c3:6eb3094ec5acf83d87958046024cca3a$</string>
            <key>textureFileName</key>
            <string>spriteOK.png</string>
        </dict>
    </dict>
</plist>
