<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nave1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nave2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{149,1},{133,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nave3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{297,1},{135,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nave4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{1,134},{137,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nave5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{149,136},{139,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nave6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{297,149},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nave7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{1,273},{143,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nave8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,146}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{149,277},{145,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nave_spritesheet.png</string>
            <key>size</key>
            <string>{439,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:908631fc9b27805d69863b43e3c4e4e1:5075e540dcadbe3e18f3100a1edf50bc:90e5cf8ece6fa7eb2e6f6e5d5e47f1f5$</string>
            <key>textureFileName</key>
            <string>nave_spritesheet.png</string>
        </dict>
    </dict>
</plist>
